<launch>

  <include file="$(find robots)/launch/sim.launch" />
  <!--
  <include file="$(find darknet_ros)/launch/darknet_ros.launch" />
  <node name="soundplay_node.py"   pkg="sound_play"      type="soundplay_node.py"/>
  -->
  <include file="$(find dialogflow_ros)/launch/dialogflow.launch" />
  <include file="$(find dialogflow_ros)/launch/audio_server.launch" />
  <include file="$(find navigation)/launch/navigation.launch" />


</launch>
