<launch>
  <node name="busqueda"       pkg="practica8-dialogflow"      type="busqueda"     output="screen"/>
  <node name="nav"            pkg="practica8-dialogflow"      type="nav"          output="screen"/>
  <node name="carryluggage"   pkg="practica8-dialogflow"      type="carryluggage" output="screen"/>
</launch>
